h2 BugMark Core
p BugMark Core a generic application that can trade any type of
  contract on BugMark.
p BugMark Core is meant for use by administrators and superusers.
p This documentation page is UNDER DEVELOPMENT.
