h2 Bugmark Core
p Bugmark Core is a generic application that can trade any type of
  contract on Bugmark.
p Bugmark Core is meant for use by administrators and superusers.
p This documentation page is UNDER DEVELOPMENT.
