*.log
.graphqlconfig
schema.graphql
.env
/.env
/.env-chruby
/.bundle
/.idea/
.certs
.certs/
.certs/*
/.certs/
/.vagrant/
/.erdconfig
/*.pdf
/tags
/gems.tags
/log/
/tmp/
/doc
/doc/
/data/
/wiki/
/script/dev/vm/.vagrant/
/script/dev/vm/.vagrant/*
/script/dev/vm/.vagrant/machine/
/db/test*
/db/backups*
/db/backups/*
/db/schema*
/db/backups*
/node_modules
/node_modules/
/jsn/node_modules/
/eth/node_modules/
/public/assets/
/public/system/
/public/system*/
/public/source_maps/
/public/qrcodes/
/public/packs
/public/packs-test
/app/assets/stylesheets/.sass-cache/
yarn-error.log
