<% if flash[:notice] %>
  <div class="alert alert-success">
    <strong>Success!</strong> <%= flash[:notice] %>
  </div>
<% end %>

<div class="jumbotron">
  <div>
    <h1 class="display-3">BugMark</h1>
    <p>A Blockchain Market for Software Issues</p>
    <hr>
    <p>
      BugMark is <i>under construction</i>!
      Join our email list to get announcements about our public launch.
    </p>
    <form action="/static/mailpost" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <div class="form-group">
        <input type="email" class="form-control" name="mail_addr" placeholder="your_email@example.com"/>
      </div>
      <button type="submit" class="btn btn-primary">Join the BugMark Mailing List</button>
    </form>
  </div>
</div>
