
- if flash[:notice]
  .alert.alert-success
    strong Success!
    = flash[:notice]

.jumbotron
  .row
    .col-md-6
      div
        h1.display-3 BugMark
        p A Blockchain Market for Software Issues
    .col-md-6
      p
        i> BugMark is under construction!
      p Join our Email list to get launch announcements.
      form action="/static/mailpost" method="post"
        = hidden_field_tag :authenticity_token, form_authenticity_token
        .form-group
          input.form-control name="mail_addr" placeholder="your_email@example.com" type="email" /
        button.btn.btn-primary type="submit"
          | Join the BugMark Email
          | List

.row
  .col-md-12
    h3 What is this?
    p
      | BugMark is a market that connects people who want better software to the
      | people who can build it.
    p
      | In order to make open collabration more effective, we are using simple
      | market mechanisms to add incentives to do useful work.
    h3 BugMark allows you to
    ol
      li
        | Put financial value directly in the hands of the people who can fix
        | the software issues that are most important to you.
      li
        | Discover which issues really matter to your project’s users.
      li
        | Work with open source practices and not against them. Solve part of a
        | problem and still get paid, instead of contending to claim credit for a
        | bounty payment.
    h3 Find an issue, fix it, and earn money
    p
      | Vist BugMark to find an open issue that matches your skills and
      | interests. Buy a futures contract connected to that issue that will pay
      | you when the issue is fixed. Work on the issue, in the open—then decide if
      | you want to hold your contract until maturity, or sell it at a profit.
    h3 Report an issue and pay to reward others to fix it
    p
      | Create a new issue on the project bug tracker, or select an existing
      | one. Buy a futures contract on that issue that will cost you a known
      | amount when the issue is fixed, or pay you to compensate you if the issue
      | goes unfixed. Reduce your exposure to software risks by directly signaling
      | the project participants about what issues are important to you.
    h3 Invest in futures on an open source market
    p
      | Development isn’t the only task required to make a software project a
      | success. You can trade futures to earn a profit from other vital tasks,
      | such as clarifying and translating bug reports, triaging bugs, writing
      | failing tests, or doing code reviews.
