h2 BugMark Docfix
p BugMark Docfix a application that provides incentives for documentation
  fixes, especially documentation fixes in a GitHub wiki.
p BugMark Docfix is meant for use by any GitHub project leader or user.
p This documentation page is UNDER DEVELOPMENT.