// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body { background: black; }

.has-error > span.help-block {
  color: #a94442;
  text-decoration: underline;
  font-style: italic; padding: 2px;
}

.has-error > input {
  border-color: #a94442;
}
