// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.token-field {
  width:        50px;
  margin-left:  10px;
  margin-right: 10px;
}

.madline {
  margin-top:    10px;
  margin-bottom: 10px;
  display:       block;
}

.strikeout {
  text-decoration: line-through;
}
